# PostgreSQL (docker-compose)
DATABASE_URL="postgresql://comments:comments@localhost:5432/comments"

# Redis (docker-compose)
REDIS_URL="redis://localhost:6379"

# API
PORT=4040

# JWT
JWT_SECRET="yKXvdSJJh6hLIP12RIrDxr2Cb/f2i7BiDtutymQLs7kKaqraFNZfUblCYI4lkhev"
JWT_EXPIRES_IN="1d"

MODERATOR_EMAIL="moderator@example.com"
MODERATOR_PASSWORD="moderator123"